@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.widgetModelos {
    width: 100%;

    .widgetModelos-pagination {
        position: relative;
        display: none;
    }

    .widgetModelos--footerText {
        margin-top: 30px;
        p {
            color: #858793;
            text-align: center;
            font-feature-settings:
                "liga" off,
                "clig" off;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .widgetModelos-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 10px;

        @media (max-width: 950px) {
            justify-content: flex-start;
        }

        .widgetModelos-nextButton,
        .widgetModelos-prevButton {
            background-color: #fff;
            &::after {
                font-size: 20px;
                color: #464748;
            }
        }

        .widgetModelos-nextButton {
            width: 38px;
            height: 38px;
            border: 1px solid #4e5356;
            border-radius: 3px;
            left: 10px;
            position: relative;
            background-position: 50%;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            &::after {
                display: none;
            }
            background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiMwMDAwMDAiIHRyYW5zZm9ybT0icm90YXRlKDE4MCkiPjxnIGlkPSJTVkdSZXBvX2JnQ2FycmllciIgc3Ryb2tlLXdpZHRoPSIwIj48L2c+PGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L2c+PGcgaWQ9IlNWR1JlcG9faWNvbkNhcnJpZXIiPjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik0yMjQgNDgwaDY0MGEzMiAzMiAwIDEgMSAwIDY0SDIyNGEzMiAzMiAwIDAgMSAwLTY0eiI+PC9wYXRoPjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Im0yMzcuMjQ4IDUxMiAyNjUuNDA4IDI2NS4zNDRhMzIgMzIgMCAwIDEtNDUuMzEyIDQ1LjMxMmwtMjg4LTI4OGEzMiAzMiAwIDAgMSAwLTQ1LjMxMmwyODgtMjg4YTMyIDMyIDAgMSAxIDQ1LjMxMiA0NS4zMTJMMjM3LjI0OCA1MTJ6Ij48L3BhdGg+PC9nPjwvc3ZnPg==");
        }

        .widgetModelos-prevButton {
            width: 38px;
            left: 0;
            height: 38px;
            border: 1px solid #4e5356;
            border-radius: 3px;
            position: relative;
            background-position: 50%;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPgo8c3ZnIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMjI0IDQ4MGg2NDBhMzIgMzIgMCAxIDEgMCA2NEgyMjRhMzIgMzIgMCAwIDEgMC02NHoiLz48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJtMjM3LjI0OCA1MTIgMjY1LjQwOCAyNjUuMzQ0YTMyIDMyIDAgMCAxLTQ1LjMxMiA0NS4zMTJsLTI4OC0yODhhMzIgMzIgMCAwIDEgMC00NS4zMTJsMjg4LTI4OGEzMiAzMiAwIDEgMSA0NS4zMTIgNDUuMzEyTDIzNy4yNDggNTEyeiIvPjwvc3ZnPg==");
            &::after {
                display: none;
            }
        }
    }

    .widgetModelos--cards {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .widgetModelos-swiper {
        width: 100%;
        box-sizing: border-box;
        padding: 50px 0 16px;
        @media (max-width: 950px) {
            padding: 16px 0;
        }
    }

    .widgetModelos--card {
        &Top {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        border: 1px solid #d7d8d9;
        background: #fff;
        transition: box-shadow 0.25s ease-in-out;
        box-sizing: border-box;
        justify-content: space-between;

        &:hover {
            box-shadow:
                0px 9px 26px 0px rgba(23, 15, 73, 0.05),
                0px 8px 10px 0px rgba(109, 145, 229, 0.01) !important;
        }

        .widgetModelos--modelTitle {
            color: #464748;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0.39px;
            text-transform: uppercase;
            margin: 0 auto;
        }

        .widgetModelos--imagen {
            max-width: 100%;
            height: 140px;
            margin: 38px 0;
            img{
                object-fit: contain !important;
                position: relative;
                height: 140px;
                width: auto;
            }
        }

        .widgetModelos--precio {
            p {
                font-size: 16px;
                color: #676a6d;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                margin: 0;
                span {
                    font-size: 24px;
                }
            }
        }

        .widgetModelos--cta {
            font-size: 15px;
            background-color: #0063cc;
            color: #fff;
            border-radius: 100px;
            padding: 11px 24px;
            transition: transform 0.25s ease-in-out;
            text-align: center;
            text-decoration: none;
            margin: 22px 0;

            &:hover {
                transform: scale(1.04);
                text-decoration: none;
            }
        }

        .widgetModelos--cta2 {
            font-family: "Roboto", sans-serif;
            color: #0063cc;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 106%;
            text-decoration-line: underline;
            text-decoration-skip-ink: none;
            text-decoration-style: solid;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            display: flex;
            justify-items: center;
            align-items: center;
            gap: 5px;

            .textLink {
                margin-bottom: 3px;
            }
        }

        .widgetModelos--desc {
            color: #000;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 22px;
            ul {
                padding-left: 20px;
                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
